body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#backgroundVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background-size: cover;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}


#textField {
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    width: 100%;
}

.text-field-container {
    font-family: 'Kanit', sans-serif;
    color:  rgba(255, 255, 255, 0.479); 
    font-size: 80px; 
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    padding: 20px;
    margin: auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content; 
    position: absolute;
    top: 25%; 
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
}

#muteButton {
    position: absolute;
    top: 20px;
    left: 20px;
    background: none; 
    border: none;
    cursor: pointer;
    padding: 0; 
    z-index: 2; 
    width: 10px; 
    height: 10px;
}

#muteButton:hover {
    cursor: pointer;
}

#linkIcon {
    margin: 10px;
    position: fixed; 
    top: 50%; 
    transform: translateY(-50%); 
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

#linkIcon img {
    width: 120px; 
    height: 80px; 
    transition: width 0.3s ease, height 0.3s ease; 
}

#linkIcon:hover {
    transform: translateY(-50%) scale(1.1);
}
